/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* -------------------------
common style or utilities  
-------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* top banner styles */

.container {
    display: flex;
    column-gap: 150px;
    background-color: #161616;
    width: 1321px;
    height: 646px;
    margin-top: 50px;
    padding: 106px;
    padding-bottom: 0px;
    border-radius: 15px;
}

.the-greatest-show h1 {
    width: 531px;
    height: 240px;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

.the-greatest-show p {
    width: 506px;
    height: 78px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
}

.button-1:hover {
    background-color: royalblue;
}


.button-1 a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.button-1 i {
    color: #FFFFFF;
    font-size: 20px;
}

.marcelo img {
    width: 600px;
    height: 100%;
}

/*---------------------------
 content buttons style 
--------------------------- */
.content-1 {
    display: flex;
    column-gap: 140px;
    margin-top: 130px;
}

.buttons-style {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.button-styles {
    width: 252px;
    height: 64px;
    background: white;
    border-radius: 10px;
}

.button-styles:hover {
    background-color: red;
}


.button-styles a {
    text-decoration: none;
    color: #161616;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.button-styles-1 {
    width: 252px;
    height: 64px;
    background: red;
    border-radius: 10px;
}

.button-styles-1:hover {
    background-color: white;
}


.button-styles-1 a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.button-styles-1 a:hover {
    color: #161616;
}

/*------------
     blogs
-------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 80px;
}

.blog-thumb img {
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}

.transfer h5 {
    width: 100px;
    height: 32px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transfer h1 {
    width: 272px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
}

.icons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.view-all {
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
}



.view-all a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

/* ----------------
    footer style 
------------------ */
.footer {
    width: 1600px;
    height: 444px;
    background-color: #161616;
    margin-top: 100px;
}


.footer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 100px;
}

hr {
    width: 1000px;
    border: 1px solid #b9b9b9;
}


.footer-level {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.footer-level h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #b9b9b9;
}

/*-------------------------------------------------------
                     media query 
---------------------------------------------------------- */


/* responsive for tab (Best view for Nest Hub)  */
@media (min-width: 689px) and (max-width:1024px) {
    .container {
        display: flex;
        column-gap: 150px;
        background-color: #161616;
        width: 734px;
        height: 398px;
        margin-top: 50px;
        padding: 106px;
        padding-bottom: 0px;
        border-radius: 15px;
    }

    .the-greatest-show h1 {
        width: 289px;
        height: 150px;
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }

    .the-greatest-show p {
        width: 316px;
        height: 48px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
    }

    .button-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        width: 161px;
        height: 48px;
        background: #DD0000;
        border-radius: 5px;
    }

    .marcelo img {
        width: 323px;
        height: 100%;
    }

    .content-1 {
        display: flex;
        flex-direction: column;
        column-gap: 140px;
        margin-top: 130px;
    }

    .buttons-style {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #16161600;
        border-radius: 10px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 70px;
        grid-row-gap: 80px;
    }

    .view-all {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        width: 187px;
        height: 56px;
        background: #DD0000;
        border-radius: 5px;
        margin-top: 20px;
    }



    .view-all a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }

    .footer {
        width: 100%;
        height: 100%;
        background-color: #161616;
        margin-top: 100px;
    }

    .footer-level h6 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #b9b9b9;
        margin-bottom: 100px;
    }

}

/* responsive for mobile  */
@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        column-gap: 150px;
        background-color: #161616;
        width: 334px;
        height: 472px;
        margin-top: 50px;
        padding: 106px;
        padding-bottom: 0px;
        border-radius: 15px;
    }

    .the-greatest-show h1 {
        width: 228px;
        height: 66px;
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
    }

    .the-greatest-show p {
        width: 258px;
        height: 48px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        text-align: left;
    }

    .button-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        width: 161px;
        height: 48px;
        background: #DD0000;
        border-radius: 5px;
    }

    .marcelo img {
        width: 233px;
        height: 100%;
    }

    .content-1 {
        display: flex;
        flex-direction: column;
        column-gap: 140px;
        margin-top: 130px;
    }

    .buttons-style {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #16161600;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
    }

    footer {
        width: 100%;
        height: 300px;
        background-color: #161616;
        margin-top: 100px;
    }

    .footer h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .footer-level {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
    }

    .footer-level h6 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 5px;
        color: #b9b9b9;
        margin-bottom: 250px;

    }


}